/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    /* font-family: "Times New Roman", serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 48px; */
    max-width: 100%;
    vertical-align: top;
}